<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">Home</a></li>
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movies</a>
        <ul class="dropdown-menu">
          <% movies.forEach(function(movie) { %> 
            <li><a href="/part/<%= movie.part %>"><%= movie.title %></a></li>
          <% }); %>
        </ul>
      </li>
    </ul>
  </div>
</nav>
