<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    
    <% include partials/header.ejs %>
    
    <div class="hero" style="background-image: url('/images/home_poster.jpg')">
      <div class="title">
        <h2><%= title %></h2>
      </div>
    </div>
    
    <div class="container">
      <% movies.forEach(function(movie) { %>
        <div class="col-md-4 content-padding">
          <a href="/part/<%= movie.part %>">
            <img src="/images/<%= movie.poster %>" class="movie-poster">
          </a>
        </div>
      <% }); %>
    </div>
    
    <% include partials/scripts.ejs %>
  </body>
</html>
