<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    
    <% include partials/header.ejs %>
    
    <div class="hero" style="background-image: url('/images/home_poster.jpg')">
      <div class="title">
        <h2><%= title %></h2>
      </div>
    </div>
    
    <% include partials/scripts.ejs %>
  </body>
</html>
